<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709523649228-h7fpgqj8t929rfh031c8dvefbo368jdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709523649228-h7fpgqj8t929rfh031c8dvefbo368jdm</string>
	<key>API_KEY</key>
	<string>AIzaSyAbBj_uIbO6nTc_0MzoP84zy05yngLCrXk</string>
	<key>GCM_SENDER_ID</key>
	<string>709523649228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-80eef</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-80eef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709523649228:ios:1ed63846095f8766864869</string>
</dict>
</plist>